body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.piano-keys {
    width: 3.5rem;
    cursor: pointer;
    position: relative;
    height: 16rem;
    border-radius: 10px;
    border: 1px solid #000;
}

.black-key {
    width: 1.8rem;
    height: 10rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000;
    z-index: 2;
    margin: 0 -20px 0 -20px;
}

.piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.white-key {
    background-color: #fff;
}

.white-key:hover {
    background-color: #c0c0c0;
}

.black-key:hover {
    background-color: rgb(63, 63, 63);
    box-shadow: 5px 10px 18px #888888;
}

.piano-keys-list li:nth-child(-n+7) {
    display: none;
}

.piano-keys-list li:nth-last-child(-n+5) {
    display: none;
}

@media screen and (min-width: 821px) and (max-width: 1024px) {
    .piano-keys {
        width: 4rem;
        height: 20rem;
    }

    .black-key {
        width: 2rem;
        height: 13rem;
    }

    .piano-keys-list li:nth-child(-n+7) { display: flex; }
}

@media screen and (min-width: 1025px) {
    .piano-keys {
        width: 5rem;
        height: 20rem;
    }

    .black-key {
        width: 2rem;
        height: 13rem;
    }

    .piano-keys-list li:nth-child(-n+7) { display: flex; }

    .piano-keys-list li:nth-last-child(-n+5) { display: flex; }
}