body {
	margin: 0;
	padding: 0;
	background-color: black;
}

#grid-container-3 {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 100px 1fr;
	width: 100%;
	min-height: 100vh;
}

#header { /* header und header wrapper grid und Datenstruktur noch verbessern*/
	grid-area: 1/2/2/3;
	display: flex;
	justify-content: center;
	align-items: center;

	background: linear-gradient(
		135deg,
		#ddd 0%,
		#fff 25%,
		#aaa 50%,
		#fff 75%,
		#ddd 100%
	);
	/* Clippe den Verlauf auf die Buchstaben */
	-webkit-background-clip: text;
	background-clip: text;
	/* Macht den eigentlichen Text transparent */
	color: transparent;

	margin: 0;
	padding: 0;
	text-shadow:
    0 0 2px rgba(255,255,255,0.8),
    2px 2px 4px rgba(0,0,0,0.6);
  	position: relative;
}

.highlight {
	text-align: center;
}

/* #header::before {
  content: '';
  position: absolute;
  top: 10%;
  left: -5%;
  width: 110%;
  height: 30%;
  background: rgba(255, 255, 255, 0.3);
  transform: skew(-20deg);
  filter: blur(3px);
} */

#burger_button {
	grid-area: 1/3/2/4;
	background: transparent;
	border: none;
	position: relative;
	right: 10px;
	font-size: 24px;
	font-weight: 800;
	color: white;
	cursor: pointer;
	z-index: 1;
}

#header_wrapper {
	grid-area: 1/1/2/4;
	background-color: black;
	box-shadow: inset 0 0 1em 1em #000;
	width: 100%;
	height: 100%;
	box-shadow: 0 -0.5rem 1rem 1rem black;
}

/* timeline */
#timeline {
	grid-area: 2/1/3/4;
	/* gap: 1.25rem; */
	row-gap: 17rem;
	padding: 8px;
	/* border: 1px solid whitesmoke; */
	display: grid;
	grid-template-columns: 1fr 3fr 8fr;
	/* grid-template-rows: repeat(9, 1fr); */
	color: white;
	font-weight: 900;
	box-shadow: inset 0em 0em 10em 7em #000;
  	background-image: url(./images/rock-collage-fullhd.jpg);
	background-attachment: fixed;
  	background-color: rgba(0, 0, 0, 0.607);
	background-blend-mode: color;
  	background-size: cover;
}

#ruler {
	display: flex;
	justify-content: center;
	grid-area: 1/1/10/2;
}

#ruler > div {
	background-color: rgb(228, 228, 228);
	width: 2px;
}

.audio-player {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.song-title {
  	opacity: 0;
  	transition: opacity 0.5s ease;
	margin: 0;
	padding: 0;
}
.song-title.show {
  	opacity: 1;
}

.dates {
	display: flex;
	align-items: center;
	justify-content: start;
}

.media_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ruler_dots {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.ruler_dots > div {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgb(255, 128, 0);
	border: 2px solid rgb(106, 66, 21);
}

.text_background > div {
	background: rgba(0, 0, 0, 0.623);    
	box-shadow: 0 0 8px 2px black;
	border-radius: 8px;  
	width: 100%;
	height: 100%;
}

#text_background1 {grid-area: 1/2/2/4;}
#text_background2 {grid-area: 2/2/3/4;}
#text_background3 {grid-area: 3/2/4/4;}
#text_background4 {grid-area: 4/2/5/4;}
#text_background5 {grid-area: 5/2/6/4;}
#text_background6 {grid-area: 6/2/7/4;}
#text_background7 {grid-area: 7/2/8/4;}
#text_background8 {grid-area: 8/2/9/4;}

#dot1 {grid-area: 1/1/2/2;}
#date1 {grid-area: 1/2/2/3;}
#container1 {grid-area: 1/3/2/4;}	

#dot2 {grid-area: 2/1/3/2;}
#date2 {grid-area: 2/2/3/3;}
#container2 {grid-area: 2/3/3/4;}

#dot3 {grid-area: 3/1/4/2;}
#date3 {grid-area: 3/2/4/3;}
#container3 {grid-area: 3/3/4/4;}

#dot4 {grid-area: 4/1/5/2;}
#date4 {grid-area: 4/2/5/3;}
#container4 {grid-area: 4/3/5/4;}

#dot5 {grid-area: 5/1/6/2;}
#date5 {grid-area: 5/2/6/3;}
#container5 {grid-area: 5/3/6/4;}

#dot6 {grid-area: 6/1/7/2;}
#date6 {grid-area: 6/2/7/3;}
#container6 {grid-area: 6/3/7/4;}

#dot7 {grid-area: 7/1/8/2;}
#date7 {grid-area: 7/2/8/3;}
#container7 {grid-area: 7/3/8/4;}

#dot8 {grid-area: 8/1/9/2;}
#date8 {grid-area: 8/2/9/3;}
#container8 {grid-area: 8/3/9/4;}

#container9 {grid-area: 9/2/10/4;}

/* /timeline */

@media screen and (max-width: 400px) {
	#timeline {
		grid-template-columns: 1fr 11fr;
		row-gap: 0;
		grid-template-rows: repeat(8, 1fr 3fr 4fr);
	}

	#ruler {grid-area: 1/1/end/2;}

	.dates {justify-content: start;}

	#text_background1 {grid-area: 1/2/3/3;}
	#text_background2 {grid-area: 4/2/6/3;}
	#text_background3 {grid-area: 7/2/9/3;}
	#text_background4 {grid-area: 10/2/12/3;}
	#text_background5 {grid-area: 13/2/15/3;}
	#text_background6 {grid-area: 16/2/18/3;}
	#text_background7 {grid-area: 19/2/21/3;}
	#text_background8 {grid-area: 22/2/24/3;}

	#dot1 {grid-area: 1/1/2/2;}
	#date1 {grid-area: 1/2/2/3;}
	#container1 {grid-area: 2/2/3/3;}

	#dot2 {grid-area: 4/1/5/2;}
	#date2 {grid-area: 4/2/5/3;}
	#container2 {grid-area: 5/2/6/3;}

	#dot3 {grid-area: 7/1/8/2;}
	#date3 {grid-area: 7/2/8/3;}
	#container3 {grid-area: 8/2/9/3;}

	#dot4 {grid-area: 10/1/11/2;}
	#date4 {grid-area: 10/2/11/3;}
	#container4 {grid-area: 11/2/12/2;}

	#dot5 {grid-area: 13/1/14/2;}
	#date5 {grid-area: 13/2/14/3;}
	#container5 {grid-area: 14/2/15/3;}

	#dot6 {grid-area: 16/1/17/2;}
	#date6 {grid-area: 16/2/17/3;}
	#container6 {grid-area: 17/2/18/3;}

	#dot7 {grid-area: 19/1/20/2;}
	#date7 {grid-area: 19/2/20/3;}
	#container7 {grid-area: 20/2/21/3;}

	#dot8 {grid-area: 22/1/23/2;}
	#date8 {grid-area: 22/2/23/3;}
	#container8 {grid-area: 23/2/24/3;}

	#container9{grid-area: 25/2/26/3;}
}

@media screen and (min-width: 750px) {
	#timeline {
		grid-template-columns: 20fr 1fr 20fr;
		padding: 0 2rem;
	}

	#date_wrapper > *:nth-child(odd) {margin-left: auto;} 
	#date_wrapper > *:nth-child(even) {margin-right: auto;}

	#ruler {grid-area: 1/2/10/3;}

	.text_background {display: none;}

	.media_container {
		font-size: 1.5rem;
		background: rgba(0, 0, 0, 0.623);    
		box-shadow: 0 0 1rem 0.25rem black;
		border-radius: 8px; 
	}

	.dates {
		font-size: 1.6rem;
		text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
	}

	#date1,
	#date3,
	#date5,
	#date7 {text-align: right;}

	#container2,
	#container4,
	#container6,
	#container8 {text-align: right;}

	#date1 {grid-area: 1/1/2/2;}
	#dot1 {grid-area: 1/2/2/3;}
	#container1 {grid-area: 1/3/2/4;}

	#date2 {grid-area: 2/3/3/4;}
	#dot2 {grid-area: 2/2/3/3;}
	#container2 {grid-area: 2/1/3/2;}

	#date3 {grid-area: 3/1/4/2;}
	#dot3 {grid-area: 3/2/4/3;}
	#container3 {grid-area: 3/3/4/4;}

	#date4 {grid-area: 4/3/5/4;}
	#dot4 {grid-area: 4/2/5/3;}
	#container4 {grid-area: 4/1/5/2;}

	#date5 {grid-area: 5/1/6/2;}
	#dot5 {grid-area: 5/2/6/3;}
	#container5 {grid-area: 5/3/6/4;}

	#date6 {grid-area: 6/3/7/4;}
	#dot6 {grid-area: 6/2/7/3;}
	#container6 {grid-area: 6/1/7/2;}

	#date7 {grid-area: 7/1/8/2;}
	#dot7 {grid-area: 7/2/8/3;}
	#container7 {grid-area: 7/3/8/4;}
	
	#date8 {grid-area: 8/3/9/4;}
	#dot8 {grid-area: 8/2/9/3;}
	#container8 {grid-area: 8/1/9/2;}

	#container9 {grid-area: 9/3/10/4;}
}

#date_wrapper {
	display: contents;
}

/* PIANO PAGE */

#main_piano {
	grid-area: 2/1/3/4;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	gap: 0.5rem;
	box-shadow: inset 0em 0em 10em 7em #000;
	background-image: url(./images/crowd.jpg);
  	background-color: rgba(0, 0, 0, 0.185);
	background-position: center;
  	background-blend-mode: color;
	background-attachment: fixed;
  	background-size: cover;
}

.keyboard-text {
	color: whitesmoke;
	font-size: 1.25rem;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black, 0 0 1.25rem black;
}

#keyboard-text-intro { 
	grid-area: 1/2/2/3;
	margin-top: 1rem; 
}

#keyboard-text-main {grid-area: 2/2/3/3;}

#keyboard-text-end {grid-area: 4/2/5/3;}

#piano_container {grid-area: 3/2/4/3;}

.piano-keys {
    width: 3.5rem; /* 3.5rem */
    cursor: pointer;
    position: relative;
    height: 16rem; /* 16rem */
    border-radius: 10px;
	-webkit-tap-highlight-color: transparent;
	margin: 0 0.291rem;
}

.piano-keys-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.piano-keys.no-black + .piano-keys.no-black {
  margin-left: -0.28rem;
}

.black-key {
    width: 1.8rem;
    height: 10rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 2;
    margin: 0 -1.213rem;
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  	background:linear-gradient(45deg,#222 0%,#555 100%);
}

.black-key:active {
	box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
 	background:linear-gradient(to right,#444 0%,#222 100%);
}


.white-key {
  	box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  	background:linear-gradient(to bottom,#eee 0%,#fff 100%);
}


.white-key:active {
	box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  	background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%);
}

.piano-keys-list li:nth-child(-n+7) {display: none;}

.piano-keys-list li:nth-last-child(-n+5) {display: none;}

@media screen and (max-width: 400px) {
	.piano-keys-list li:nth-child(-n+12) {display: none;}
}

@media screen and (min-width: 750px) and (max-width: 1440px) { /* wie macht man wrapped text? */

	.piano-keys {
        width: 4rem;
        height: 20rem;
		margin: 0 -0.5rem;
    }

	.piano-keys.no-black + .piano-keys.no-black { margin-left: 0.5rem }

    .black-key {
        width: 2rem;
        height: 13rem;
    }

    .piano-keys-list li:nth-child(-n+7) { display: flex; }

	.keyboard-text {font-size: 1.5rem;}
}

@media screen and (min-width: 1440px) {
	#main_piano {grid-template-columns: 1fr 10fr 1fr;}

	.keyboard-text {font-size: 1.75rem;}

    .piano-keys {
        width: 5rem;
        height: 20rem;
		margin: 0 -0.51rem;
    }

	.piano-keys.no-black + .piano-keys.no-black { margin-left: 0.5rem }

    .black-key {
        width: 2rem;
        height: 13rem;
    }

    .piano-keys-list li:nth-child(-n+7) { display: flex; }

    .piano-keys-list li:nth-last-child(-n+5) { display: flex; }
}
/* /PIANO PAGE */


/* BAND PAGE */

#main_band {
	grid-area: 2/1/3/4;
	display: grid;
	grid-template-columns: 1fr 15fr 1fr;
	row-gap: 10rem;
	box-shadow: inset 0em 0em 10em 7em #000;
	background-image: url(./images/band-fullhd.jpg);	
	background-color: #00000084;
	background-position: center;
	background-blend-mode: color;
	background-size: cover;
	background-attachment: fixed;
	color: whitesmoke;
}


#header_wrapper,
#burger_button {
	position: sticky;
	top: 0;
	z-index: 5;
}

.wrapped_texts {
	text-indent: 1rem;
	background: rgba(0, 0, 0, 0.623);    
	box-shadow: 0 0 1rem 0.25rem black;
	border-radius: 8px; 
}

#img_top {
	width: 100%;
}

.floated_img {
	float: right;
	margin: 0.75rem;
	width: 100%;
}
#imgAndText1 {grid-area: 1/2/2/3;}

#imgAndText2 {grid-area: 2/2/3/3;}

#imgAndText3 {grid-area: 3/2/4/3;}

#imgAndText4 {grid-area: 4/2/5/3;}

#imgAndText5 {grid-area: 5/2/6/3;}

#imgAndText6 {grid-area: 6/2/7/3;}

@media screen and (min-width: 750px) {
	
	#main_band {
		grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
	}

	.wrapped_container {display: contents;}

	.wrapped_texts {font-size: 1.25rem;}

	.dates {
		text-align: center;
		margin: 0 auto;
	}

	#imgAndText1 {grid-area: 1/2/2/5;}

	#title2 {grid-area: 2/2/3/3;}
	#wrapped_text2 {grid-area: 2/3/3/4;}
	#img2 {grid-area: 2/4/3/5;}

	#title3 {grid-area: 3/3/4/4;}
	#wrapped_text3 {grid-area: 3/4/4/5;}
	#img3 {grid-area: 3/2/4/3;}

	#title4 {grid-area: 4/4/5/5;}
	#wrapped_text4 {grid-area: 4/2/5/3;}
	#img4 {grid-area: 4/3/5/4;}

	#title5 {grid-area: 5/2/6/3;}
	#wrapped_text5 {grid-area: 5/3/6/4;}
	#img5 {grid-area: 5/4/6/5;}

	#title6 {grid-area: 6/3/7/4;}
	#wrapped_text6 {grid-area: 6/4/7/5;}
	#img6 {grid-area: 6/2/7/3;}
}


/* /BAND PAGE */


/* QUIZ PAGE */
* {
	box-sizing: border-box;
}

.app{
	grid-area: 2/1/3/4;
	padding: 2rem;
	background-image: url(./images/caleb-george-pH88tHG-1yw-unsplash.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.app h1{
	font-size: 1.5rem;
	color: #001e4d;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom: 30px;
}
.quiz{
	display: flex;
	flex-direction: column;
  	padding: 1.5rem 0;
}
.quiz h2{
	font-size: 1.25rem;
	color: #001e4d;
	font-weight: 600;
}

#answer-buttons {
	display: flex;
	flex-direction: column;
}

.btn {
	background: #fff;
	color: #222;
	font-weight: 500;
	border: 1px solid #222;
	padding: 0.5rem;
	margin: 0.5rem 0;
	text-align: left;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}
.btn:hover:not([disabled]){
	background: #222;
	color: #fff;
}
.btn:disabled{
  	cursor: no-drop;
}
#next-btn{
	background: #001e4d;
	color: #fff;
	font-weight: 500;
	width: 150px;
	border: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
	display: none;
}
.correct{
  	background: #9aeabc;
}
.incorrect{
 	background: #ff9393;
}



@media screen and (min-width: 750px) {
	
	.app h1 {
		font-size: 2rem;
		text-align: center;
	}

	.quiz {
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.quiz h2 {
		font-size: 1.5rem;
	}
	
	#answer-buttons {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.btn {
		width: 40%;
		margin: 1rem;
		padding: 1rem;
		text-align: center;
		font-size: 1.25rem;
	}
}

/* /QUIZ PAGE */